*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header img{
    width: 96px;
}

section{
    background-color: rgb(1, 1, 85);
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    padding: 12px;
}

article{
    border: 3px solid yellow;
    border-radius: 6px;
    background-color: rgb(0, 209, 139);
    text-align: center;
    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: space-between
}

article img{
    width: 100%;
    max-width: 180px;
    max-height: 250px;
    object-fit: scale-down;
}

article button{
    background-color: darkgreen;
    color: whitesmoke;
    padding: 12px 15px;
    border-radius: 6px;
    transition: all 0.6s;
    font-weight: 600;
    font-size: 18px;
}

article button:hover{
    background-color: blue;

}

header {
    text-align: center;
    margin-block: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article h5, article h4{
    color: rgb(39, 39, 39);
    font-size: 24px;
}

.comprar{
    background-color: darkslateblue;
    padding: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.comprar button{
    width: 200px;
    font-size: 24px;
    margin: 0 auto;
}